h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.result{
    display: flex;
    justify-content: space-evenly;
}

.tab {
    display: flex;
    justify-content: space-evenly;
}

button {

}

.nav_button {
    position: relative;
    padding: 50px;
    border-radius: 25px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c6cace7e;
}
